@model Packt.Shared.Category
@{
}
@if(Model != null)
{
    <div>
        <img class="d-block w-100" alt="@Model.Description" src="~/images/category@(Model.CategoryId).jpeg" />
        <hr />
        <dl>
            <dt>Category ID</dt>
            <dd>@Model.CategoryId</dd>
            <dt>Category Name</dt>
            <dd>@Model.CategoryName</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
        </dl>
    </div>
}